@import '~leaflet/dist/leaflet.css';
@import '~leaflet-geosearch/dist/geosearch.css';
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

:root {
    --darkcolor: #2e322f;
    --whitecolor: #ffffff;
    --graycolor: #555555;
}

.geosearch form {
    height: 30px;
    width: 400px;
    max-width: 450px;
    background: var(--darkcolor);
    opacity: 0.9;
    transition: all 0.7s ease-in-out 0s;
    
    input {
        color: var(--whitecolor) !important;
        margin-top: 3px;
    }
}

.leaflet-bar-part {
    background: var(--darkcolor) !important;
    opacity: 0.9;
    transition: all 0.7s ease-in-out 0s;
}
.leaflet-bar-part::after {
    border: 2px solid var(--whitecolor) !important;
}
.leaflet-bar-part::before {
    border: 1px solid var(--whitecolor) !important;
    top: 16px !important;
    left: 13px !important;
    width: 8px !important;
}

.reset {
    background: var(--darkcolor) !important;
    color: var(--whitecolor) !important;
    transition: all 0.7s ease-in-out 0s;
}

.results { 
    width: 400px;
    max-width: 450px;
    margin-top: 6px;
    margin-left: -9px;
    background: var(--darkcolor) !important;
    opacity: 0.9;
    transition: all 0.7s ease-in-out 0s;
    
    div:hover {
        color: var(--graycolor);
    }
} 

.leaflet-draw-toolbar.leaflet-control-toolbar {
    padding-left: 0 !important;
}

.leaflet-control-layers {
    background: var(--darkcolor);
    opacity: 0.9;
    color: var(--whitecolor);
    transition: background-color 0.7s ease-in-out 0s;
}

.leaflet-control-layers:hover {
    transition: none;
}

.leaflet-top { z-index: unset !important; }
.leaflet-bottom { z-index: 998 !important; }

@media (max-width: 768px) {
    .leaflet-top { z-index: 9999 !important; }
    .leaflet-control-layers { opacity: 1; }
}

#map {
    height: 100%;    
    min-height: -webkit-fill-available;
    position: inherit;
}

// @media (max-width: 768px) {
//     .map-wrapper {
//         margin-top: 56px;   
//     }
// }

.map-wrapper {
    //margin-top: 56px;
    min-height: -webkit-fill-available;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //position: relative;
    .map-loading {
        position: absolute;
        width: 100%;
        z-index: 99999;
    }

    .map-watermark {
        font-size: 200%;
        font-weight: bolder;
        color: #aaa;
        text-shadow: #555;
        margin-right: 50px;
        z-index: 9999;
        .logo-watermark {
            width: 200px;
            opacity: 0.6
        }
    }
}

@media (max-width: 768px) {
    .map-watermark {
        font-size: 200%;
        font-weight: bolder;
        color: #aaa;
        text-shadow: #555;
        margin-right: 0px !important;
        z-index: 9999;
        .logo-watermark {
            width: 120px !important;
            opacity: 0.6;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.v-dialog__content {
    z-index: 99999 !important;
}

@media (max-width: 960px) {
    .v-dialog__content {
        z-index: 999999 !important;
    } 
}




